<main class="main-rigth__container">
        <section class="main-rigth__header">
            <div class="main-rigth__item1">
                <h1>Horario de clase</h1>
                <span>Nota: Presione en los cuadros a colores <br>para listar alumnos</span>
                <br>
                <div>
                    <button class="main-rigth__button">
                        <i class="bi bi-filetype-pdf"></i> Descargar PDF
                    </button>
               </div>
               <br>
            </div>
            <div class="main-rigth__item2">
                <select name="select" class="main-rigth__select">
                  <option value="2023-20" >2023-20</option>
                  <option value="2023-10">2023-10</option>
                  <option value="2022-20">2022-20</option>
                </select>
                <h1>DEFINITIVO</h1>
            </div>
        </section>
        <main class="main-rigth__main-table">
            <div class="main-rigth__main">
                <table>
                    <thead>
                      <tr>
                        <th>Hora</th>
                        <th >Lunes</th>
                        <th>Martes</th>
                        <th >Miercoles</th>
                        <th>Jueves</th>
                        <th >Viernes</th>
                        <th>Sabado</th>
                        <th >Domingo</th>
                      </tr>
                    </thead>
                    <tbody id="tbody-horario">         
                    </tbody>
                  </table>
            </div>
        </main>
</main>