
   
    <section class="main-teacher">
        <section class="section-teacher-above">
            <div class="teacher-above__item1">
                <img  class="teacher-above__img" src="./imagenes/docente.jpg" alt="">
                <div class="teacher-above__item3">
                    <h1 class="teacher-title">OBREGON RAMOS,MAXIMO</h1>
                    <span>08161078</span>
                    <ul class="teacher-above__item4">
                        <li>
                            <span>Actualizar</span>
                            <div class="teacher-above__container-icons">
                                <i><i class="bi bi-arrow-down-left-circle-fill"></i></i>
                            </div>
                        </li>
                        <li>
                            <span>Historial</span>
                            <div class="teacher-above__container-icons">
                                <i><i class="bi bi-arrow-down-left-circle-fill"></i></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="teacher-above__item2">
                <div class="teacher__button teacher__button--celeste">
                    <i><i class="bi bi-arrow-down-left-circle-fill"></i></i>
                </div>
                <div class="teacher__button teacher__button--red">
                    <span>Generar PDF</span>
                </div>
            </div>
        </section>
        <section class="section-teacher-below">
            <div class="tabs-container">
                <ul class="tabs" id="tabs">
                   <li class="tabs__item active">1er</li>
                   <li class="tabs__item">2do</li>
                   <li class="tabs__item">3er</li>
                   <li class="tabs__item">4to</li>
                </ul>
                <div class="panels">
                    <div class="panels__item active">
                        <h1>1.-DATOS PERSONALES</h1>
                            <section class="container-panel1">
                                <section class="">
                                    <ul class="panel-one-form">
                                        <li>
                                            <span>Sexo</span>
                                            <select name="select" class="select__container">
                                                <option value="value1">Value 1</option>
                                                <option value="value2">Value 2</option>
                                                <option value="value3">Value 3</option>
                                            </select>
                                        </li>
                                        <li>
                                            <span>Fecha Nacimiento</span>
                                            <input type="date" class="input__container">
                                        </li>
                                        <li>
                                            <span>Teléfono Fijo <i class="bi bi-pencil-fill"></i>
                                            </span>
                                            <input type="text"  class="input__container">
                                        </li>
                                        <li>
                                            <span>RUC</span>
                                            <input type="text" class="input__container">
                                        </li>
                                        <li>
                                            <span>Brevete y Categoría</span>
                                            <input type="text" class="input__container">
                                        </li>
                                        <li>
                                            <span>Estado Civil</span>
                                            <select name="select" class="select__container">
                                                <option value="value1">Value 1</option>
                                                <option value="value2">Value 2</option>
                                                <option value="value3">Value 3</option>
                                            </select>
                                        </li>
                                        <li>
                                            <span>Fecha Matrimonio</span>
                                            <input type="date" class="input__container">
                
                                        </li>
                                        <li>
                                            <span>E-mail(S) <i class="bi bi-pencil-fill"></i></span>
                                            <input type="text" class="input__container">
                                            
                                        </li>
                                        <li>
                                            <span></span><br>
                                            <input type="text" class="input__container">
                                        </li>
                                        
                                    </ul>
                                </section>
                                <section class="">
                                    <ul class="panel-one-form-two">
                                        <li>
                                            <div class="container-archivo">
                                                <span>DNI</span>
                                                    <form enctype="multipart/form-data" id="uploadForm">
                                                        <div class="container-icons">
                                                            <span class="icon-cloud" id="icon-archivo"></span>
                                                                <input type="file" name="pdfFile" id="pdfFile" accept=".pdf" hidden>
                                                                <input type="submit" value="Subir DNI"  hidden>
                                                        </div>
                                                    </form>
                                                    
                                                
                                                <div class="container-icons">
                                                    <i class="bi bi-eye-fill" id="ver-dni"></i>
                                                </div>
                                                <div class="container-icons">
                                                    <i class="bi bi-trash3-fill" id="eliminar-dni"></i>
                                                </div>

                                            </div>
                                            <input type="text" class="input__container input__container-half">
                                        </li>
                                        <li>
                                            <span>Celular  <i class="bi bi-pencil-fill"></i></span>
                                            <input type="text" class="input__container">
                                        </li>
                                        <li>
                                            <span>Lib Militar</span>
                                            <input type="text" class="input__container">
                                        </li>
                                        <li>
                                            <span>Si cuenta con vehículo, indicar modelo, placa, año, color</span>
                                            <input type="text" class="input__container">
                
                                        </li>
                                        <li>
                                            <span>Grupo Sanguíneo</span>
                                            <input type="text"class="input__container input__container-half">
                                        </li>
                                    </ul>
                                </section>
                            </section>
                            <section>
                                <h1>Lugar de Nacimiento</h1>
                                <ul class="panel-one-form-three">
                                    <li>
                                        <span>Pais :</span>
                                        <select name="select" class="select__container">
                                            <option value="value1">Value 1</option>
                                            <option value="value2">Value 2</option>
                                            <option value="value3">Value 3</option>
                                        </select>
                                    </li>
                                    <li>
                                        <span>Provincia :</span>
                                        <select name="select" class="select__container">
                                            <option value="value1">Value 1</option>
                                            <option value="value2">Value 2</option>
                                            <option value="value3">Value 3</option>
                                        </select>
                                    </li>
                                    <li>
                                        <span>Departamento :</span>
                                        <select name="select" class="select__container">
                                            <option value="value1">Value 1</option>
                                            <option value="value2">Value 2</option>
                                            <option value="value3">Value 3</option>
                                        </select>
                                    </li>
                                    <li>
                                        <span>Distrito :</span>
                                        <select name="select" class="select__container">
                                            <option value="value1">Value 1</option>
                                            <option value="value2">Value 2</option>
                                            <option value="value3">Value 3</option>
                                        </select>
                                    </li>
                                </ul>
                            </section>
                            <br>
                            <h2>Domicilio</h2>
                            <br>
                            <button class="button button--blue button--lg" id="botonDomicilio">Añadir registro</button>
                            <br><br>
                            <section  class="panel-one-table">
                                <div class="panel-one-table-container">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Orden</th>
                                                <th>Pais</th>
                                                <th>Direccion extranjera</th>
                                                <th>Departamento</th>
                                                <th>Provincia</th>
                                                <th>Distrito</th>
                                                <th>Tipo de Via</th>
                                                <th>Nombre de la Vía</th>
                                                <th>Tipo</th>
                                                <th>Número de Inmueble</th>
                                                <th>Tipo Zona</th>
                                                <th>Nombre Zona</th>
                                            </tr>
                                        </thead>
                                        <tbody id="infoDomicilio">
                                       </tbody>
                                    </table>
                                </div>
                            </section>
                            <section class="section-emergency">
                                <h1>1.1.-PERSONAS A COMUNICAR EN CASO DE EMERGENCIA</h1>
                                <span>Contacto 1 (*)</span>
                                <ul class="section-emergency__items">
                                    <li>
                                        <span>Apellidos y Nombres</span>
                                        <input type="text" class="section-emergency__input section-emergency__input--l">
                                    </li>
                                    <li>
                                        <span>Parentesco</span>
                                        <input type="text" class="section-emergency__input section-emergency__input--x">
                        
                                    </li>
                                    <li>
                                        <span>Celular</span>
                                        <input type="text" class="section-emergency__input section-emergency__input--x">
                        
                                    </li>
                        
                                    <li>
                                        <span>Apellidos y Nombres</span>
                                        <input type="text" class="section-emergency__input section-emergency__input--l">
                        
                                    </li>
                                    <li>
                                        <span>Parentesco</span>
                                        <input type="text" class="section-emergency__input section-emergency__input--x">
                        
                                    </li>
                                    <li>
                                        <span>Celular</span>
                                        <input type="text" class="section-emergency__input section-emergency__input--x">
                        
                                    </li>
                        
                                    <li>
                                        <span>Apellidos y Nombres</span>
                                        <input type="text" class="section-emergency__input section-emergency__input--l">
                        
                                    </li>
                                    <li>
                                        <span>Parentesco</span>
                                        <input type="text" class="section-emergency__input section-emergency__input--x">
                        
                                    </li>
                                    <li>
                                        <span>Celular</span>
                                        <input type="text" class="section-emergency__input section-emergency__input--x">
                        
                                    </li>
                                </ul>
                            </section>
                            <section class="main-work">
                                <h1 class="main-work__titulo">2.-DATOS LABORALES</h1>
                                <ul class="main-work__items">
                                    <li>
                                        <span>Condicion(C/N)</span>
                                        <select name="select" class="main-work__select">
                                            <option value="value1">Value 1</option>
                                            <option value="value2">Value 2</option>
                                            <option value="value3">Value 3</option>
                                          </select>
                        
                                    </li>
                                    <li>
                                        <span>Categoria</span>
                                        <select name="select" class="main-work__select">
                                            <option value="value1">Value 1</option>
                                            <option value="value2">Value 2</option>
                                            <option value="value3">Value 3</option>
                                          </select>
                                    </li>
                                    <li>
                                        <span>Dedicacion</span>
                                        <select name="select" class="main-work__select">
                                            <option value="value1">Value 1</option>
                                            <option value="value2">Value 2</option>
                                            <option value="value3">Value 3</option>
                                          </select>
                                    </li>
                                    <li>
                                        <span>Horas</span>
                                        <input type="text" class="main-work__input main-work__input--x">
                                    </li>
                                    <li>
                                        <span>Horas selectivas</span>
                                        <input type="text" class="main-work__input main-work__input--x">
                                    </li>
                                    <li>
                                        <span>Dependencia donde Labora(Actual)</span>
                                        <input type="text"  class="main-work__input main-work__input--l">
                        
                                    </li>
                                    <li>
                                        <span>
                                            Fecha Ingreso FIM
                                        </span>
                                        <input type="date" class="main-work__input main-work__input--x">
                                    </li>
                                    <li>
                                        <span>
                                            Fecha.Nombramiento
                                        </span>
                                        <input type="date" class="main-work__input main-work__input--x">
                                    </li>
                                    <li>
                                        <span>
                                            Regimen Pensionario
                                        </span>
                                        <select name="select" class="main-work__select">
                                            <option value="value1">Value 1</option>
                                            <option value="value2">Value 2</option>
                                            <option value="value3">Value 3</option>
                                          </select>
                                    </li>
                                    <li>
                                        <span>
                                          AFP (Nombre)  
                                        </span>
                                        <input type="text" class="main-work__input main-work__input--x">
                                    </li>
                                    <li>
                                        <span>
                                           Cód .AFP 
                                        </span>
                                        <input type="text" class="main-work__input main-work__input--x">
                                    </li>
                                    <li>
                                        <span>
                                            Cód. EsSalud
                                        </span>
                                        <input type="text" class="main-work__input main-work__input--x">
                                    </li>
                                    <li>
                                        <span>
                                            Otro Tipo de Seguro
                                        </span>
                                        <input type="text" class="main-work__input main-work__input--x">
                                    </li>
                                </ul>
                            </section>
                    </div>
                    <div class="panels__item">
                         <button class="button button--blue button--lg" id="botonFormacion">Añadir registro</button>
                        <br><br>
                        <section  class="panel-one-table">
                            <div class="panel-one-table-container">
                                <table>
                                    <thead>
                                        <th>Orden</th>
                                        <th>Formacion Profesional</th>
                                        <th>Pais</th>
                                        <th>Universidad</th>
                                        <th>Especialidad</th>
                                        <th>Fecha Inicio</th>
                                        <th>Fecha Final</th>
                                        <th>Grado Obtenido</th>
                                        <th>Documento sustentatorio</th>
                                        <th>Observacion</th>
                                        <th>Opciones</th>
                                    </thead>
                                    <tbody id="datosFormacion">

                                   </tbody>
                                </table>
                            </div>
                        </section>

                    </div>
                    <div class="panels__item">
                        <section  class="panel-one-table">
                            <div class="panel-one-table-container">
                                <table>
                                    <thead>
                                        <th>Codigo</th>
                                        <th>NOM. CURSO</th>
                                        <th>AULA</th>
                                        <th>T.P.L</th>
                                        <th>HORARIO</th>
                                        <th>ULTIMA REVISION</th>
                                    </thead>
                                    <tbody id="tbody-horario-docente">
                                        
                                   </tbody>
                                </table>
                            </div>
                        </section>
                    </div>
                    <div class="panels__item">
                        <h2>Opcion 4</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum iure illum, ducimus odit autem soluta beataem.</p>
                    </div>
                </div>
            </div>
        </section>
    </section>
    
    <section class="modal" id="modalFormacionDocente">
        <div class="modal__container">
            <section class="section-training">
                <h1>Agregar formación profesional</h1>
                <ul class="container-training">
                    <li>
                        <span>Formación profesional</span>
                        <select name="select" id="formacionProfesional" class="section-training__select">
                            <option value="value1">Value 1</option>
                            <option value="value2">Value 2</option>
                            <option value="value3">Value 3</option>
                          </select>
                    </li>
                    <li>
                        <span>Universidad</span>
                        <input type="text" id="universidadFormacion" class="section-training__input">
                    </li>
                    <li>
                        <span>Fecha Inicio</span>
                        <input type="date" id="fechaInicioFormacion" class="section-training__input">
                    </li>
                    <li>
                        <span>Grado Obtenido</span>
                        <input type="text" id="gradoObtenidoFormacion" class="section-training__input">
                    </li>
                    <li>
                        <span>Observacion</span>
                        <textarea name="" id="observacionFormacion" cols="30" rows="5"></textarea>
                    </li>
                    <li>
                        <span>País</span>
                        <select name="select" id="paisFormacion" class="section-training__select">
                            <option value="value1">Value 1</option>
                            <option value="value2">Value 2</option>
                            <option value="value3">Value 3</option>
                          </select>
                    </li>
                    <li>
                        <span>Especialidad</span>
                        <input type="text" id="especialidadFormacion" class="section-training__input">
                    </li>
                    <li>
                        <span>Fecha Final</span>
                        <input type="date" id="fechaFinFormacion" class="section-training__input">
                    </li>
                    <li>
                        <div class="container_li">
                            <span>Documento sustentario</span>
                            <div class="container-icon">
                                <i class="bi bi-cloud-arrow-up-fill"></i>
                            </div>
                        </div>
                    </li>
                </ul>
                <section class="footer-training">
                    <a class="" id="btn-guardar-formacion">Guardar</a>
                    <a href="" class="modal__close">Cancelar</a>
                </section>
            </section>
        </div>
    </section>

    <section class="modal" id="modalAgregarDomicilio">
        <div class="modal__container">
            <section class="section-training">
                <section class="section-home">
                    <div class="section-home__item1">
                            <h1 class="section-home__titulo">Agregar domicilio</h1>
                            <ul class="section-home__container">
                                
                                <div>
                                    <li>
                                        <span>Pais</span>
                                        <select name="select" id="paisDomicilio" class="section-home__select section-home__select--l">
                                            <option value="Peru">Peru</option>
                                            <option value="Chile">Chile</option>
                                            <option value="Paraguay">Paraguay</option>
                                        </select>
                                    </li>
            
                                    <li>
                                        <span>Departamento</span>
                                        <select name="select" id="departamentoDomicilio" class="section-home__select section-home__select--l">
                                            <option value="Departamento 1">Departamento 1</option>
                                            <option value="Departamento 2">Departamento 2</option>
                                            <option value="Departamento 3">Departamento 3</option>
                                        </select>
                                    </li>
                                </div>
                              <div>
                                <li>
                                    <span>
                                        Provincia
                                    </span>
                                    <select name="select" id="provinciaDomicilio" class="section-home__select section-home__select--l">
                                        <option value="Provincia 1">Provincia 1</option>
                                        <option value="Provincia 2">Provincia 2</option>
                                        <option value="Provincia 3">Provincia 3</option>
                                    </select>
                                </li>
                                <li>
                                    <span>Distrito</span>
                                    <select name="select" id="distritoDomicilio" class="section-home__select section-home__select--l">
                                        <option value="Distrito 1">Distrito 1</option>
                                        <option value="Distrito 2">Distrito 2</option>
                                        <option value="Distrito 3">Distrito 3</option>
                                    </select>
                                </li>
                              </div>
                               
                            </ul>
                    </div>
                    <div class="section-home__item2">
                        <ul class="section-home__container2">
                            <li>
                                <span>Tipo de Vía</span>
                                <select id="tipoViaDomicilio" name="select" class="section-home__select section-home__select--x">
                                    <option value="value1">Value 1</option>
                                    <option value="value2">Value 2</option>
                                    <option value="value3">Value 3</option>
                                </select>
                            </li>
                            <li>
                                <span>Tipo</span>
                                <select name="select" id="tipoInmuebleDomicilio" class="section-home__select section-home__select--x">
                                    <option value="value1">Value 1</option>
                                    <option value="value2">Value 2</option>
                                    <option value="value3">Value 3</option>
                                </select>
                            </li>
                            <li>
                                <span>Tipo zona</span>
                                <select name="select" id="tipoZonaDomicilio" class="section-home__select section-home__select--x">
                                    <option value="value1">Value 1</option>
                                    <option value="value2">Value 2</option>
                                    <option value="value3">Value 3</option>
                                </select>
                            </li>
                            <li>
                                <span>Nombre de la Vía</span>
                                <input type="text" id="nombreViaDomicilio" class="section-home__input">
                            </li>
                            <li>
                                <span>Numero de Inmueble</span>
                                <input type="text" id="numeroInmuebleDomicilio" class="section-home__input">
                            </li>
                            <li>
                                <span>Nombre de la Zona</span>
                                <input type="text" id="nombreZonaDomicilio" class="section-home__input">
                            </li>
                        </ul>
                    </div>
                </section>
                <footer class="footer-home">
                    <a class="button button--green" id="btn-guardar-domicilio">Guardar</a>
                    <a href="" id="closeDomicilio" class="button button--blue">Cancelar</a>
                </footer>
            </section>
        </div>
    </section>
    <section class="modal" id="modalVerPDF">
        <div class="modal__container" style="height: auto;">
            <div id="div-dni">
            </div>
            <section class="footer-training">
                <a class="" id="btn-guardar-formacion">Guardar</a>
                <a href="" id="close_PDF">Cancelar</a>
            </section>
        </div>
    </section>
